body {
	background-color: #CB998A;
	font-family: 'Lato', sans-serif;
}

/*.navbar.transparent.navbar-inverse .navbar-inner */
.navbar-default {
   background-color: #49494b;
}

#jalogo {
	height: 3em;
	float: left;
	margin-right: 0.2em;
}

a > h1 {
	font-size: 1.3em;
	margin: 0;
	line-height: 1.2em;
}

a > small {
	font-size: 0.7em;
	margin: 0;
}

#nav-contact {
	background-color: #D3C2AB;
	padding: 0.5em;
	border-radius: 0.5em;
	color: white;
	margin-left: 0.5em;
}

#card-image {
	position: absolute;
	top: 35em;
	height: 35.8em;
	width: 100%;
	z-index: -1;
}

#titlebox {
	margin-top: 16.5em;
}

.titletext {
	font-size: 8em;
}

.subtitletext {
	font-size: 2.5em;
}

#profile {
	position: absolute;
	top: 10em;
	left: 55%;
	height: 50em;
	width: 30em;
}

.shadowbox {
	box-shadow: 7px 7px 1px 3px  rgba(0, 0, 0, 0.3);
}

#aboutme-container {
	background-color: white;
	margin-top: 13em;
	margin-left: 5em;
	width: 40%;
	padding: 3em;
}

#skills {
	background-color: #E5E5E9;
	margin-top: 3em;
	padding-bottom: 2em;
}

.boxleft {
	width: 45%;
	padding-top: 3em;
	display: inline-block;
}

.boxright {
	width: 45%;
	padding-top: 3em;
	float: right;
}

table, td, tr {
  	border: 1px solid black;
  	margin-top: 0.5em;
  	margin-bottom: 1em;
  	height: 1em;
}

table {
	width: 100%;
}

#projectstitle {
	margin: 1em;
	text-align: center;
}

.carousel {
	height: 30em;
}

#contactme {
	background-color: white;
	margin-top: 3em;
	height: 38em;
}

#submit {
	background-color: #D3C2AB;
	padding: 0.5em;
	border-radius: 0.5em;
	color: white;
	width: 10em;
	margin-top: 1em;
}

#message {
	height: 12em;
}

.row {
	margin-top: 0.5em;
}
/*
.jumbotron {
	position: absolute;
	top: 100px;
	height: 1000px;
	background-image: url('assets/images/grid.jpg');
	background-color: white;
 	background-size: cover;
 	background-repeat: no-repeat;
}*/